name: "GHA env manipulation"

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment name"
        required: true
        type: choice
        options:
          - dev
          - prod

jobs:
  summary:
    runs-on: ubuntu-latest
    steps:
      - name: check env
        run: echo "${{ inputs.env }}"
      - name: check env default
        run: echo "${{ inputs.env || 'dev' }}"
        